#page-details {
  padding: 1rem;
  .link-back {
    display: block;
    margin-bottom: 1.25rem;
  }
  .card-details {
    .title {
      margin: 2rem 0 .75rem;
    }
    .detail-item {
      display: flex;
      & + .detail-item {
        margin-top: .5rem;
      }
    }
    .attack-list {
      app-pokemon-attack-item {
        display: block;
        & + app-pokemon-attack-item {
          margin-top: .75rem;
        }
      }
    }
    .energy-container {
      display: flex;
      margin-left: .5rem;
      app-pokemon-energy {
        & + app-pokemon-energy {
          margin-left: .1rem;
        }
      }
    }
  }
}
