<div id="page-details">
  <div class="container">
    <a routerLink="/" class="link-back">
      <span class="icon is-small is-right">
        <i class="mdi mdi-arrow-left"></i>
      </span>
      <span>voltar</span>
    </a>
    <div class="columns is-mobile">
      <div class="column is-half-tablet">
        <div class="card-image" *ngIf="card">
          <figure class="image is-2by3">
            <img [src]="card.imageUrlHiRes">
          </figure>
        </div>
      </div>
      <div class="column is-half-tablet">
        <div class="card-details" *ngIf="card">
          <h1 class="title is-size-4-mobile is-size-3-tablet">
            {{ card.name }}
          </h1>
          <div class="columns is-mobile is-multiline">
            <div class="column is-half-mobile">
              <div class="detail-item">
                ID:
                <b class="m-l-05">{{ card.id }}</b>
              </div>
            </div>
            <div class="column is-half-mobile">
              <div class="detail-item">
                Tipo:
                <app-types-list [types]="card.types" class='m-l-05'></app-types-list>
              </div>
            </div>
            <div class="column is-12" *ngIf="card.attacks">
              <div class="attack-list">
                <p class="m-b-05">Ataques:</p>
                <app-pokemon-attack-item [atk]="card.ability" [types]="card.types" *ngIf="card.ability"></app-pokemon-attack-item>
                <app-pokemon-attack-item *ngFor="let atk of card.attacks" [atk]="atk"></app-pokemon-attack-item>
              </div>
            </div>
            <div class="column is-12">
              <div class="weaknesses detail-item" *ngIf="card.weaknesses">
                Fraqueza:
                <div *ngFor="let weaknesse of card.weaknesses">
                  <div class="energy-container">
                    <app-pokemon-energy [type]="weaknesse.type"></app-pokemon-energy>
                    <b class="m-l-02">{{ weaknesse.value }}</b>
                  </div>
                </div>
              </div>
              <div class="resistance detail-item" *ngIf="card.resistances">
                Resistência:
                <div *ngFor="let resistance of card.resistances">
                  <div class="energy-container">
                    <app-pokemon-energy [type]="resistance.type"></app-pokemon-energy>
                    <b class="m-l-02">{{ resistance.value }}</b>
                  </div>
                </div>
              </div>
              <div class="retreat detail-item" *ngIf="card.retreatCost">
                Resistência:
                <div class="energy-container">
                  <app-pokemon-energy *ngFor="let energy of card.retreatCost" [type]="energy"></app-pokemon-energy>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>