.attack-item {
  box-shadow: 0 2px 3px 1px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  padding: .5rem;
  p {
    display: flex;
    justify-content: space-between;
    .attack-name {
      font-weight: 600;
    }
    .attack-cost {
      display: flex;
      app-pokemon-energy {
        & + app-pokemon-energy {
          margin-left: .1rem;
        }
      }
    }
    .attack-damage {
      font-weight: bold;
    }
    &.ability-power {
      justify-content: flex-start;
      .attack-name {
        margin-right: 1rem;
      }
    }
  }
}