<div class="attack-item">
  <p [ngClass]="{ 'ability-power': atk.type }">
    <span class="attack-name">
      {{ atk.name }}
    </span>
    <app-tag *ngFor="let type of types" [label]="atk.type" [class]="type.toLowerCase()"></app-tag>
    <span class="attack-cost">
      <app-pokemon-energy *ngFor="let energy of atk.cost" [type]="energy"></app-pokemon-energy>
    </span>
    <span class="attack-damage">
      {{ atk.damage }}
    </span>
  </p>
  <p *ngIf="atk.text" class="m-t-05">{{ atk.text }}</p>
</div>