<nav class="navbar" role="navigation" aria-label="main navigation" [ngClass]="{'is-fixed-top': fixed}">
  <div class="navbar-brand">
    <a class="navbar-item" href="/angular.json">
      <img src="../../../assets/images/logo.png">
    </a>
    <!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" (click)="showMenu()"  [ngClass]="{'is-active': show}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> -->
  </div>
  <!-- <div id="navbar-menu" class="navbar-menu" [ngClass]="{'is-active': show}">
    <div class="navbar-start">
      <div class="navbar-item">
        
      </div>
    </div>
  </div> -->
</nav>