@import "/src/assets/sass/variables.scss";

.navbar {
  background-color: $color-header-background;
  .navbar-brand {
    a {
      padding-top: 0;
      padding-bottom: 0;
    }
    img {
      max-height: 100%;
      height: 2.5rem;
    }
  }
  .navbar-burger {
    span {
      transition: all ease-in-out .3s;
    }
  }
  .navbar-menu {
    transition: all ease-in-out .3s;
    max-height: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    &.is-active {
      max-height: 1000px;
    }
  }
  .navbar-item {
    .control {
      &:first-child {
        width: 100%;
      }
    }
  }
}