<div class="card-item">
  <div class="card-image">
    <a [routerLink]="'/card/' + item.id">
      <figure class="image is-2by3">
        <img [src]="item.imageUrl">
      </figure>
    </a>
  </div>
  <div class="card-description">
    <a [routerLink]="'/card/' + item.id" class="card-name">{{ item.name }}</a>
    <app-types-list [types]="item.types"></app-types-list>
  </div>
</div>