@import '/src/assets/sass/variables.scss';

.card-item {
  display: flex;
  padding-bottom: .5rem;
  border-bottom: 1px solid $color-border;
  .card-image {
    min-width: 2.5rem;
    margin-right: 1rem;
  }
  .card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    .card-name {
      font-size: .85rem;
      line-height: 1rem;
      color: black;
    }
    .card-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      .card-detail {
        font-size: .8rem;
      }
    }
  }
}