.tag {
  color: #FFF;
  height: 1.25rem;
  &.grass {
    background-color: #7dbd4d;
  }
  &.lightning {
    background-color: #fdda10;
    color: #000;
  }
  &.darkness {
    background-color: #0f201f;
  }
  &.fairy {
    background-color: #7f1c2d;
  }
  &.fire {
    background-color: #e63722;
  }
  &.psychic {
    background-color: #9b57a4;
  }
  &.metal {
    background-color: #989f9c;
  }
  &.dragon {
    background-color: #6f674f;
  }
  &.water {
    background-color: #009cce;
  }
  &.fighting {
    background-color: #a24530;
  }
  &.colorless {
    background-color: #DDD;
    color: #000;
  }
  &.no-pkmn {
    background-color: #EEEEEE;
    border: 1px solid #BBB;
    color: #999999;
  }
}