<div id="page-home">
  <div class="container">
    <div class="search-box field has-addons">
      <div class="control">
        <input id="input-search" class="input" placeholder="Pokemon..." (keyup)="fnInputKeyup($event)">
      </div>
      <div class="control" *ngIf="!search">
        <button class="button is-primary" (click)="fnSearch(true)">
          <span class="icon is-small is-right">
            <i class="mdi mdi-magnify"></i>
          </span>
          <span>
            Buscar
          </span>
        </button>
      </div>
      <div class="control" *ngIf="search">
        <button class="button is-danger" (click)="fnClear()">
          <span class="icon is-small is-right">
            <i class="mdi mdi-magnify"></i>
          </span>
          <span>
            Limpar
          </span>
        </button>
      </div>
    </div>
    <div class="columns is-mobile is-multiline">
      <div class="column is-6-mobile is-4-tablet is-3-desktop is-one-fifth" *ngFor="let item of items">
        <app-card-item [item]="item"></app-card-item>
      </div>
    </div>
  </div>
</div>