@import '/src/assets/sass/variables';

#page-home {
  height: 100vh;
  .container {
    padding: 1rem;
    .search-box {
      position: sticky;
      top: 52px;
      margin: -1rem -1rem 0.5rem;
      height: 57px;
      background-color: white;
      padding: .5rem;
      z-index: 100;
    }
  }
  .cards-container {
  }
}