/*** LETTER SPACING em
/*********************/
@for $size from 0 through 4 {
  @for $denary from 0 through 9 {
    @if( $denary == 0 ) {
      .ls-#{$size} {
        letter-spacing: #{$size}rem !important;
      }
    } @else {     
      .ls-#{$size}#{$denary} {
        letter-spacing: #{$size+'.'+$denary}rem !important;
      }
    }
  }
}
.ls-5 {
  letter-spacing: 5rem !important;
}

/*** LINE HEIGHT em
/*********************/
@for $size from 1 through 4 {
  @for $denary from 0 through 9 {
    @if( $denary == 0 ) {
      .lh-#{$size} {
        line-height: #{$size}rem !important;
      }
    } @else {     
      .lh-#{$size}#{$denary} {
        line-height: #{$size+'.'+$denary}rem !important;
      }
    }
  }
}
.lh-5 {
  line-height: 5rem !important;
}

/*** FONTS SIZES em
/*********************/
@for $size from 0 through 4 {
  @for $denary from 0 through 9 {
    @if( $denary == 0 ) {
      .fn-s#{$size} {
        font-size: #{$size}rem !important;
      }
    } @else {     
      .fn-s#{$size}#{$denary} {
        font-size: #{$size+'.'+$denary}rem !important;
      }
    }
  }
}
.fn-s5 {
  font-size: 5rem !important;
}

/*** PADDING & MARGINS em
/*********************/
.m-lr-a {
  margin-left: auto;
  margin-right: auto;
}
@each $style, $property in ( 'p': padding, 'm': margin ) {
  @for $size from 0 through 9 {
    @for $denary from 0 through 9 {
      @if( $denary == 0 ) {
        .#{$style}-#{$size} {
          #{$property}: #{$size}em !important;
        }
        .#{$style}-tb-#{$size} {
          #{$property}-top: #{$size}rem !important;
          #{$property}-bottom: #{$size}rem !important;
        }
        .#{$style}-lr-#{$size} {
          #{$property}-left: #{$size}rem !important;
          #{$property}-right: #{$size}rem !important;
        }
        .#{$style}-n#{$size} {
          #{$property}: -#{$size}em !important;
        }
        .#{$style}-tb-n#{$size} {
          #{$property}-top: -#{$size}rem !important;
          #{$property}-bottom: -#{$size}rem !important;
        }
        .#{$style}-lr-n#{$size} {
          #{$property}-left: -#{$size}rem !important;
          #{$property}-right: -#{$size}rem !important;
        }
        @each $l_dir, $n_dir in ( 't': top, 'r': right, 'b': bottom, 'l': left ) {
          .#{$style}-#{$l_dir}-#{$size} {
            #{$property}-#{$n_dir}: #{$size}rem !important;
          }
          .#{$style}-#{$l_dir}-n#{$size} {
            #{$property}-#{$n_dir}: -#{$size}rem !important;
          }
        }
      } @else {
        .#{$style}-#{$size}#{$denary} {
          #{$property}: #{$size+'.'+$denary}rem !important;
        }
        .#{$style}-tb-#{$size}#{$denary} {
          #{$property}-top: #{$size+'.'+$denary}rem !important;
          #{$property}-bottom: #{$size+'.'+$denary}rem !important;
        }
        .#{$style}-lr-#{$size}#{$denary} {
          #{$property}-left: #{$size+'.'+$denary}rem !important;
          #{$property}-right: #{$size+'.'+$denary}rem !important;
        }    
        .#{$style}-n#{$size}#{$denary} {
          #{$property}: -#{$size+'.'+$denary}rem !important;
        }
        .#{$style}-tb-n#{$size}#{$denary} {
          #{$property}-top: -#{$size+'.'+$denary}rem !important;
          #{$property}-bottom: -#{$size+'.'+$denary}rem !important;
        }
        .#{$style}-lr-n#{$size}#{$denary} {
          #{$property}-left: -#{$size+'.'+$denary}rem !important;
          #{$property}-right: -#{$size+'.'+$denary}rem !important;
        }       
        @each $l_dir, $n_dir in ( 't': top, 'r': right, 'b': bottom, 'l': left ) {
          .#{$style}-#{$l_dir}-#{$size}#{$denary} {
            #{$property}-#{$n_dir}: #{$size+'.'+$denary}rem !important;
          }
          .#{$style}-#{$l_dir}-n#{$size}#{$denary} {
            #{$property}-#{$n_dir}: -#{$size+'.'+$denary}rem !important;
          }
        }
      }
    }
  }
}
