;$color-background: #F2F0F9;
$color-header-background: #ddd;

$color-text-base: #444444;

$color-border: #DDD;

$color-box-footer: #FAFAFC;

$font-family: Poppins !default;

$max-containers-width: 1680px;

$tablet-and-up: '(min-width: 600px)';
$desktop-and-up: '(min-width: 960px)';
$desktop-large: '(min-width: 1280px)';

$tablet-and-down: '(max-width: 959px)';
$desktop-and-down: '(max-width: 1280px)';

$mobile-only: '(max-width: 599px)';
$tablet-only: '(min-width: 600px) and (max-width: 959px)';
$desktop-only: '(min-width: 690px) and (max-width: 1279px)';
$desktoplg-only: '(min-width: 1280px)';